<p id="notice"><%= notice %></p>

<h1>Vacinas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Years</th>
      <th>Months</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacinas.each do |vacina| %>
      <tr>
        <td><%= vacina.name %></td>
        <td><%= vacina.price %></td>
        <td><%= vacina.years %></td>
        <td><%= vacina.months %></td>
        <td><%= link_to 'Show', vacina %></td>
        <td><%= link_to 'Edit', edit_vacina_path(vacina) %></td>
        <td><%= link_to 'Destroy', vacina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacina', new_vacina_path %>
